
  <!-- ts sponsors start-->
  <section class="ts-intro-sponsors" style="background-image: url(assets/images/sponsors/sponsor_img.jpg)">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <h2 class="section-title white">
               <span>Who helps us</span>
               Our Sponsors
            </h2><!-- section title end-->
         </div><!-- col end-->
      </div><!-- row end-->
      <div class="row">
         <div class="col-lg-12" *ngFor="let sponsor of sponsors">
            <div class="sponsors-logo text-center">
               <h5>{{sponsor.website}}</h5><img src={{sponsor.logo}} alt="">
              
               <div class="sponsor-btn text-center">
                  
               </div>
            </div><!-- sponsors logo end-->
         </div><!-- col end-->
      </div><!-- row end-->
      <a href="#" class="btn">Become a Sponsor</a>
   </div><!-- container end-->
</section>
<!-- ts sponsors end-->