<section class="ts-schedule">
   <div class="container">
      <div class="row">
         <div class="col-lg-6 align-self-center">
            <div class="ts-schedule-content">
               <h2 class="column-title">
                  <span>Schedule Details</span>
                  Information of Event Schedules
               </h2>
               <p>World is committed to making participation in the event a harassment free experience for
                  everyone, regardless of level of experience, gender, gender identity and expression
               </p>
            </div>
         </div>
         
         
         <!-- col end-->
         <div class="col-lg-6">
            <div class="ts-schedule-info mb-70">
               <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item"  *ngFor="let day of days" >
                     <a class="active" title="Click Me" href="#date1" role="tab" data-toggle="tab">
                                   <span>{{day}}</span>
                              </a>
                  </li>
               </ul>
               <!-- Tab panes -->
            </div>
         </div><!-- col end-->
      </div><!-- row end-->
      <div class="row" >
            <div class="tab-content schedule-tabs">
               <div role="tabpanel" class="tab-pane active" id="date1">
                  <div class="schedule-listing" *ngFor="let session of sessions" >
                     <div class="schedule-slot-time" >
               
                        <span> {{session.startTime}} - {{session.endTime}}</span>
                        {{session.title}}
                     </div>
                     <div class="schedule-slot-info">
                        <a href="#">
                                      <img class="schedule-slot-speakers" src="assets/images/speakers/speaker1.jpg" alt="">
                                  </a>
                     <div *ngFor="let session of sessions">
                        <div class="schedule-slot-info-content">
                           <h3 class="schedule-slot-title">{{session.title}}
                              <strong>{{session.speaker.firstName}} {{session.speaker.lastName}}</strong>
                           </h3>
                           <p>{{session.description}} </p>
                        </div>
                     </div>
                        <!--Info content end -->
                     </div><!-- Slot info end -->
                  </div>
            </div>
         </div>
      </div>
   </div><!-- container end-->
</section>