@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);


 

.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}
.fostrap-logo {
  width: 100px;
  margin-bottom:15px
}
h1.heading {
  color: #fff;
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
}
@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
} 
.card {
  display: block; 
    padding: 30px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height:100%;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 100%;
  object-fit:cover; 
  transition: all .25s ease;
} 
.card-content {
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase
}
#plus-button {
    position: absolute;
    top: -28px;
    right: 16px;
    display: none;
  }
  
  .card:hover #plus-button {
    display: block;
  }


  .card1 {
    display: block;
    position: relative;
    height: 170px;
    max-width: 360px;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.19);

 
  
   
  }

 
  
  .card1:hover:before {
    transform: scale(21);
  }
  .card1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -90px;
    right: -90px;
    background: #8e91e1;
    height: 100px;
    width: 100px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.6s ease-out;
    color: #f2f8f9;
    font-size: medium;
  }
  .card1:hover p{
    
      transition: all 0.3s ease-out;
      color: rgb(255, 255, 255);
    
    
  }
  
  .card1:hover h3{
        transition: all 0.3s ease-out;
        color: #ffffff;
    
  }

