


    <div class="card-header">
        <div class="mb-3">
            <h2 class="card-title mb-0">   
                Start creating your event
            </h2>
        </div>
        <div class="mb-3">
            <h5>
                Start from scratch or choose a template to set up your event faster.
  
            </h5>
        </div>
      
    </div>
    <div class="card-body">
  
            <div class="container">
              <div class="row hidden-md-up">
                <div class="col-md-4">
                    <a class="card1" [routerLink]="['../new']">
                        <h3>Blank event</h3>
                        <p class="small">Build a completely custom event to fit your own needs.</p>
                        <div class="go-corner" href="#">
                          <div class="go-arrow">
                            →
                          </div>
                        </div>
                      </a>
                </div>
                <div class="col-md-4">
                    <a class="card1" href="#">
                        <h3>Expos and tradeshows</h3>
                        <p class="small">Demo products and services to attendees while creationg meaningful connections</p>
                        <div class="go-corner" href="#">
                          <div class="go-arrow">
                            →
                          </div>
                        </div>
                      </a>
                </div>
                <div class="col-md-4">
                    <a class="card1" href="#">
                        <h3>Meet ups</h3>
                        <p class="small">Ideal for community based events that are fun and encourage learning.</p>
                        <div class="go-corner" href="#">
                          <div class="go-arrow">
                            →
                          </div>
                        </div>
                      </a>
                </div>
          
              </div><br>
              <div class="row hidden-md-up">
                <div class="col-md-4">
                    <a class="card1" href="#">
                        <h3>Recruitment fair</h3>
                        <p class="small">Card description with lots of great facts and interesting details.</p>
                        <div class="go-corner" href="#">
                          <div class="go-arrow">
                            →
                          </div>
                        </div>
                      </a>
                </div>
                <div class="col-md-4">
                    <a class="card1" href="#">
                        <h3>Conferences and summits</h3>
                        <p class="small">ideal for a multi-track event that supports sponsor booths , keynotes and networking. </p>
                        <div class="go-corner" href="#">
                          <div class="go-arrow">
                            →
                          </div>
                        </div>
                      </a>
                </div>
                <div class="col-md-4">
                    <a class="card1" href="#">
                        <h3>Internal company event</h3>
                        <p class="small">Connect and energize your emloyees with an immersive event experience</p>
                        <div class="go-corner" href="#">
                          <div class="go-arrow">
                            →
                          </div>
                        </div>
                      </a>
                </div>
              </div>
            </div>
          </div>
  
  
  