	<main class="content">
				<div class="container-fluid p-0">

				<div class="mb-3">
						<h1 class="h3 d-inline align-middle">Event basics</h1>
					</div>
					<div class="row">
						<div class="col-12 col-lg-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title mb-0">Event basics</h5>
								</div>
								<div class="card-body">
                                    <div class="mb-3">

                                    <label for="exampleFormControlInput1" class="form-label">Name </label>
									<input type="text" class="form-control" placeholder="Event name">
                                    </div>

                                    <div class="mb-3">

                                        <label for="exampleFormControlInput1" class="form-label">Starts at 
                                        </label>
                                        <input type="datetime-local" id="meeting-time" name="meeting-time" class="form-control"  value="yyyy-mm-ddTh:min">
                                    </div>

                                        
                                        <div class="mb-3">

                                            <label for="exampleFormControlInput1" class="form-label">Ends at</label>
                                            <input type="datetime-local" id="meeting-time" name="meeting-time" class="form-control"  value="yyyy-mm-ddTh:min">
                                        </div>
        
                                        <div class="mb-3">

                                            <label for="exampleFormControlInput1" class="form-label">Description</label>
                                            <textarea class="form-control" rows="2" placeholder="Event description"></textarea>
                                        </div>
                                        <!-- <div class="container">
                                            <div class="row">
                                                jjjjj
                                              <div class="col-md-3 picture-container" *ngFor="let picture of pictures">
                                                <img src="{{picture.src}}" alt="{{picture.alt}}" class="img-fluid">
                                                <button class="btn btn-primary upload-button" (click)="uploadPicture(picture)">
                                                  <i class="fa fa-upload"></i>
                                                </button>
                                              </div>
                                            </div>
                                          </div> -->
                                        <div class="mb-3">
                                            <label for="exampleFormControlInput1" class="form-label">Media</label>


                                            <div class="row justify-content-start ">
                                                <div class="col-md-2">
                                                    <img src="https://imgur.com/dv9Z2Nu.jpg">

                                                </div>
                                                <div class="col-md-2">
                                                    <img src="https://imgur.com/dv9Z2Nu.jpg">
                                                </div>
                                                 <div class="col-md-2">
                                                    <img src="https://imgur.com/dv9Z2Nu.jpg">
                                                </div>
                                                <div class="col-md-2">
                                                    <img src="https://imgur.com/dv9Z2Nu.jpg">
                                                </div>
                                              <div class="col-md-2 drop_box">
                                                   
                                                    <input type="file"  id="fileID" style="display:none;">



                                              </div>
                                            </div>

                                        
                                        </div>


                                        <div class="mb-3">

                                            <label for="exampleFormControlInput1" class="form-label">Event components</label>
                                            <ul class="list-group list-group-horizontal-md">
                                                  <li class="list-group-item">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Speakers
  </li>
  <li class="list-group-item">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Pricing
  </li>
  <li class="list-group-item">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Venue
  </li>
  <li class="list-group-item">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Details
  </li>
  <li class="list-group-item">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Schedule
  </li>


                                              </ul>                                        
                                        </div>

                                        
								</div>



							</div>


							
						</div>

					</div>

				</div>
			</main>
