<main class="content">
  <div class="container-fluid p-0">

  <div class="mb-3">
          <h1 class="h3 d-inline align-middle">Speakers</h1>
      </div>
      <div class="row">
          <div class="col-12 col-lg-12">
              <div class="card">

                  <div class="card-header">
                      <h5 class="card-title mb-0">Update Speaker</h5>
                  </div>
                  <div class="mx-5">
                  <div class="card-body">
          
                      <form    [formGroup]="updateSpeakerForm">
                          <div class="profile-pic-wrapper">
                                <div class="pic-holder">
                                  <!-- uploaded pic shown here -->
                                  <img id="image" class="pic"[src]="imageSrc">
                              
                                  <Input class="uploadProfileInput" type="file" name="image" id="newProfilePhoto" accept="image/*" style="opacity: 0;" (change)="uploadFile($event)" />
                                  <label for="newProfilePhoto" class="upload-file-block">
                                    <div class="text-center">
                                      <div class="mb-2">
                                        <i class="fa fa-camera fa-2x"></i>
                                      </div>
                                      <div class="text-uppercase"> Update <br/> Profile Photo
                                      </div>
                                    </div>
                                  </label>
                                </div>
                            </div>
                
                       
                            <div class="form-row">
                
                                    <div class=" col mb-3">
                                      
                                        <label for="lastname" class="form-label">Firstname </label>
                                        <input
                                        formControlName="firstName"                                          name="firstName"
                                        class="form-control" 
                                        placeholder="firstName"

                                        type="text" >

                                        <div *ngIf="updateSpeakerForm.controls['firstName'].invalid && updateSpeakerForm.controls['firstName'].touched">
                                            Firstname is required
                                        </div>
                                      
                                      
                                                      </div>
                                    <div class=" col mb-3">
                
                                        <label for="lastname" class="form-label">Lastname </label>
                                        <input
                                        formControlName="lastName"
                                        placeholder="lastName"
                                        
                                        class="form-control" 
                                        type="text" 
                                
                                        >

                                        <div  class="alert alert-danger" *ngIf="updateSpeakerForm.controls['lastName'].invalid && updateSpeakerForm.controls['lastName'].touched">
                                          Please enter the lastname.
                                      </div>
                                      
                                                   
                                      </div>
                                    </div>
                                            <div class="form-row">
                                                <div class=" col mb-3">
                            
                                                    <label for="job" class="form-label">Job </label>
                                                    <input 
                                                    formControlName="job"
                                                    class="form-control" 
                                                    type="text" 
                                                    placeholder="Job"
                                                    
                                                    >
                                                    <div class="alert alert-danger" *ngIf="updateSpeakerForm.controls['job'].invalid && updateSpeakerForm.controls['job'].touched"> 
                                                      Please enter the job.
                                                   </div>

                                                                  </div>



                                                <div class=" col mb-3">
                            
                                                    <label for="job" class="form-label">Company </label>
                                                    <input type="text" 
                                                    class="form-control" 
                                                    placeholder="Company"
                                                    formControlName="company"

                                                    
                                                    >
                                                                       </div>
                                          </div>
                                        
                
                                                <div class="mb-3">
                
                                                    <label for="description" class="form-label">Description</label>
                                                    <textarea class="form-control"
                                                    formControlName="description"

                                                    rows="2" placeholder="Description">
                                                  </textarea>
                                                </div>
                                              <div class="mb-3">
                
                                                <label for="email"
                                                 class="form-label"> Email </label>
                                                <input type="email" 
                                                  formControlName="email"

                                                class="form-control"
                                                
                                                placeholder="exemple@gmail.com ">
                                                </div>
                                                <div class="alert alert-danger" *ngIf="updateSpeakerForm.controls['email'].invalid && updateSpeakerForm.controls['email'].touched"> 
                                                  Please enter a valid email.
                                                </div>
      
                                                <div class="mb-3">
                
                                                    <label for="linkedinLink" class="form-label">Linkedin link </label>
                                                    <input type="text" class="form-control"
                                                    formControlName="linkedinLink"
                                                    
                                                    
                                                    placeholder="Linkedin link">
                                                    </div>
                
                                         
                        </form>
                        <div class="card-footer text-muted">

                            
                     <button
(click)="updateSpeaker()"
type="submit"
class="btn btn-primary"
>
                            
                            Update Speaker
                            </button>
                        </div>
                  
                  </div>
                  </div>

              </div>


              
          </div>

      </div>

  </div>
</main>
