
    

    <div class="card-header">
        <div class="mb-3">
            <h2 class="card-title mb-0">   
                which components do you want to see in your event ?            </h2>
        </div>
        <div class="mb-3">
            <h5>
Select the components that you want to add to the Event Navigation 
            </h5>
        </div>
      
    </div>           
           <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="quiz_card_area">
                            <input class="quiz_checkbox" type="checkbox" id="1" value="1" checked="checked" />
                            <div class="single_quiz_card">
                                <div class="quiz_card_content">
                                    <div class="quiz_card_icon">
                                        <div class="quiz_icon quiz_icon1"></div>
                                    </div><!-- end of quiz_card_media -->

                                    <div class="quiz_card_title">
                                            <h3><i class="fa fa-check" aria-hidden="true"></i> Banner</h3>
                                    </div><!-- end of quiz_card_title -->
                                </div><!-- end of quiz_card_content -->
                            </div><!-- end of single_quiz_card -->
                        </div><!-- end of quiz_card_area -->
                    </div><!-- end of col3  -->

                    <div class="col-sm-3">
                        <div class="quiz_card_area">
                            <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                            <div class="single_quiz_card">
                                <div class="quiz_card_content">
                                    <div class="quiz_card_icon">
                                        <div class="quiz_icon quiz_icon2"></div>
                                    </div><!-- end of quiz_card_media -->

                                    <div class="quiz_card_title">
                                            <h3><i class="fa fa-check" aria-hidden="true"></i> Schedule</h3>
                                    </div><!-- end of quiz_card_title -->
                                </div><!-- end of quiz_card_content -->
                            </div><!-- end of single_quiz_card -->
                        </div><!-- end of quiz_card_area -->
                    </div><!-- end of col3  -->

                    <div class="col-sm-3">
                        <div class="quiz_card_area">
                            <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                            <div class="single_quiz_card">
                                <div class="quiz_card_content">
                                    <div class="quiz_card_icon">
                                        <div class="quiz_icon quiz_icon3"></div>
                                    </div><!-- end of quiz_card_media -->

                                    <div class="quiz_card_title">
                                            <h3><i class="fa fa-check" aria-hidden="true"></i> Sponsors</h3>
                                    </div><!-- end of quiz_card_title -->
                                </div><!-- end of quiz_card_content -->
                            </div><!-- end of single_quiz_card -->
                        </div><!-- end of quiz_card_area -->
                    </div><!-- end of col3  -->

                    <div class="col-sm-3">
                        <div class="quiz_card_area">
                            <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                            <div class="single_quiz_card">
                                <div class="quiz_card_content">
                                    <div class="quiz_card_icon">
                                        <div class="quiz_icon quiz_icon4"></div>
                                    </div><!-- end of quiz_card_media -->

                                    <div class="quiz_card_title">
                                            <h3><i class="fa fa-check" aria-hidden="true"></i> Venue</h3>
                                    </div><!-- end of quiz_card_title -->
                                </div><!-- end of quiz_card_content -->
                            </div><!-- end of single_quiz_card -->
                        </div><!-- end of quiz_card_area -->
                    </div><!-- end of col3  -->

                    <div class="col-sm-3">
                        <div class="quiz_card_area">
                            <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                            <div class="single_quiz_card">
                                <div class="quiz_card_content">
                                    <div class="quiz_card_icon">
                                        <div class="quiz_icon quiz_icon5"></div>
                                    </div><!-- end of quiz_card_media -->

                                    <div class="quiz_card_title">
                                            <h3><i class="fa fa-check" aria-hidden="true"></i> Speakers</h3>
                                    </div><!-- end of quiz_card_title -->
                                </div><!-- end of quiz_card_content -->
                            </div><!-- end of single_quiz_card -->
                        </div><!-- end of quiz_card_area -->
                    </div><!-- end of col3  -->

                    <div class="col-sm-3">
                        <div class="quiz_card_area">
                            <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                            <div class="single_quiz_card">
                                <div class="quiz_card_content">
                                    <div class="quiz_card_icon">
                                        <div class="quiz_icon quiz_icon6"></div>
                                    </div><!-- end of quiz_card_media -->

                                    <div class="quiz_card_title">
                                            <h3><i class="fa fa-check" aria-hidden="true"></i> Details</h3>
                                    </div><!-- end of quiz_card_title -->
                                </div><!-- end of quiz_card_content -->
                            </div><!-- end of single_quiz_card -->
                        </div><!-- end of quiz_card_area -->
                    </div><!-- end of col3  -->

                    <div class="col-sm-3">
                        <div class="quiz_card_area">
                            <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                            <div class="single_quiz_card">
                                <div class="quiz_card_content">
                                    <div class="quiz_card_icon">
                                        <div class="quiz_icon quiz_icon7"></div>
                                    </div><!-- end of quiz_card_media -->

                                    <div class="quiz_card_title">
                                            <h3><i class="fa fa-check" aria-hidden="true"></i> Organisers</h3>
                                    </div><!-- end of quiz_card_title -->
                                </div><!-- end of quiz_card_content -->
                            </div><!-- end of single_quiz_card -->
                        </div><!-- end of quiz_card_area -->
                    </div><!-- end of col3  -->

                    <div class="col-sm-3">
                        <div class="quiz_card_area">
                            <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                            <div class="single_quiz_card">
                                <div class="quiz_card_content">
                                    <div class="quiz_card_icon">
                                        <div class="quiz_icon quiz_icon8"></div>
                                    </div><!-- end of quiz_card_media -->

                                    <div class="quiz_card_title">
                                            <h3><i class="fa fa-check" aria-hidden="true"></i> Pricing</h3>
                                    </div><!-- end of quiz_card_title -->
                                </div><!-- end of quiz_card_content -->
                            </div><!-- end of single_quiz_card -->
                        </div><!-- end of quiz_card_area -->
                    </div><!-- end of col3  -->

                </div>
            </div><!-- end of container -->

