<div class="col-lg-3 col-md-3">
   <div class="ts-speaker">
      <div class="speaker-img">
         <img class="img-fluid" src={{speaker.image}} alt="">
         <a href="#popup_1" class="view-speaker ts-image-popup" data-effect="mfp-zoom-in">
                     <i class="icon icon-plus"></i>
                 </a>
      </div>
      <div class="ts-speaker-info">
         <h3 class="ts-title">{{speaker.firstName}}  {{speaker.lastName}}</h3>
         <p>
            {{speaker.job}}, {{speaker.company}}
         </p>
      </div>
   </div>
   <!-- popup start-->
   <div id="popup_1" class="container ts-speaker-popup mfp-hide">
      <div class="row">
         <div class="col-lg-6">
            <div class="ts-speaker-popup-img">
               <img src={{speaker.image}} alt="">
            </div>
         </div><!-- col end-->
         <div class="col-lg-6">
            <div class="ts-speaker-popup-content">
               <h3 class="ts-title">{{speaker.firstName}}  {{speaker.lastName}}</h3>
               <span class="speakder-designation">{{speaker.job}}</span>
               <img class="company-logo" src={{speaker.image}} alt="">
               <p>
                 {{speaker.description}}
               </p>
               <h4 class="session-name">
                  Sessions by {{speaker.firstName}} 
               </h4>
               <div class="row">
                  <div class="col-lg-6">
                     <div class="speaker-session-info">
                        <h4>Day 1</h4>
                        <span>
                                    10.30 - 11.30 am
                              </span>
                        <p>
                           Marketing Matters
                        </p>
                     </div>
                  </div>
                  <div class="col-lg-6">
                     <div class="speaker-session-info">
                        <h4>Day 1</h4>
                        <span>
                                       10.30 - 11.30 am
                                 </span>
                        <p>
                           Marketing Matters
                        </p>
                     </div>
                  </div>
               </div>
               <div class="ts-speakers-social">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
               </div>
            </div><!-- ts-speaker-popup-content end-->
         </div><!-- col end-->
      </div><!-- row end-->
   </div><!-- popup end-->
</div> <!-- col end-->