
.profile-pic-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pic-holder {
    text-align: center;
    position: relative;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .pic-holder .pic {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
  }
  
  .pic-holder .upload-file-block,
  .pic-holder .upload-loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(90, 92, 105, 0.7);
    color: #f8f9fc;
    font-size: 12px;
    font-weight: 600;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
  }
  
  .pic-holder .upload-file-block {
    cursor: pointer;
  }
  
  .pic-holder:hover .upload-file-block,
  .uploadProfileInput:focus ~ .upload-file-block {
    opacity: 1;
  }
  
  .pic-holder.uploadInProgress .upload-file-block {
    display: none;
  }
  
  .pic-holder.uploadInProgress .upload-loader {
    opacity: 1;
  }
  
  /* Snackbar css */
  .snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 14px;
    transform: translateX(-50%);
  }
  
  .snackbar.show {
    visibility: visible;
  
  }
  
  @-webkit-keyframes fadein {
    from {

      opacity: 1;
    }
    to {
      bottom: 30px;
      opacity: 1;
    }
  }
  
  @keyframes fadein {
    from {
      opacity: 1;
    }
    to {
      bottom: 30px;
      opacity: 1;
    }
  }
  
  @-webkit-keyframes fadeout {
    from {
      bottom: 30px;
      opacity: 1;
    }
    to {
      bottom: 0;
      opacity: 0;
    }
  }
  
  @keyframes fadeout {
    from {
      bottom: 30px;
      opacity: 1;
    }
    to {
      bottom: 0;
      opacity: 0;
    }
  }
  

.btn{
height: 35px ;
}

.no-decoration{
    background-color: transparent;
    padding: 0;
    border: none;
    color: #000;
    }
.sidebar-open {
    background: rgba(0, 0, 0, 0.3);
  }
  
  
  .sidebar-contact{
    position:fixed;
    top:50%;
    z-index: 1000;
    right:-400px;
    transform:translateY(-50%);
    width:400px;
    height:100%;
    padding:20px;
    background:#fff;
    box-shadow: 0 20px 30px rgba(0,0,0,.5);
    box-sizing:border-box;
    transition:0.5s;
  }
  .sidebar-contact.active{
    right:0;
  }

  .toggle{
   
    cursor:pointer;
    background-color: cornflowerblue;
  
  }
  
 


  .scroll{
    
    overflow-y:auto;
  }

  @media(max-width:768px)
  {
    .sidebar-contact{
      width:100%;
      height:100%;
      left:-100%;
    }
    .sidebar-contact .toggle{
      top:50%;
      transform:translateY(-50%);
      transition:0.3s;
    }
    .sidebar-contact.active .toggle
    {
      top:0;
      right:0;
      transform:translateY(0);
    }
    .scroll{
      width:100%;
      height:100%;
      overflow-y:auto;
    }
    .content{
      padding:50px 50px;
    }
  }


  .sidebar-speaker{
    position:fixed;
    top:50%;
    z-index: 1100;
    right:-400px;
    transform:translateY(-50%);
    width:400px;
    height:100%;
    padding:20px;
    background:#fff;
    box-shadow: 0 20px 30px rgba(0,0,0,.5);
    box-sizing:border-box;
    transition:0.5s;
  }
  .sidebar-speaker.active{
    right:0;
  }




 

  @media(max-width:768px)
  {
    .sidebar-speaker{
      width:100%;
      height:100%;
      left:-100%;
    }
    .sidebar-speaker .toggle2{
      top:50%;
      transform:translateY(-50%);
      transition:0.5s;
    }
    .sidebar-speaker.active .toggle2
    {
      top:0;
      right:0;
      transform:translateY(0);
    }
   
   
  }