<!--must include fontawesome cdn in <head> tag-->

<div class="open-sidebar"></div>
<div *ngIf="isOpened" class="sidebar-contact card">
  <div class="card-header">
    <h3>Add session</h3>
  </div>
  <div class="scroll card-body">
    <form #createSessionForm="ngForm">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title </label>
        <input
          type="text"
          required
          ngModel
          #titleInput="ngModel"
          name="title"
          class="form-control"
          placeholder="Session title"
        />
      </div>

      <div
        class="alert alert-danger"
        *ngIf="titleInput.invalid && titleInput.touched"
      >
        Please enter the title.
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Activity
        </label>
        <input
          type="text"
          required
          ngModel
          #activityInput="ngModel"
          name="activity"
          class="form-control"
          placeholder="Activity type"
        />

        <div
          class="alert alert-danger"
          *ngIf="activityInput.invalid && activityInput.touched"
        >
          Please enter the activity.
        </div>
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Starting time
        </label>
        <input
          type="datetime-local"
          id="meeting-time"
          required
          ngModel
          #startTimeInput="ngModel"
          name="startTime"
          class="form-control"
          value="yyyy-mm-ddTh:min"
        />
      </div>
      <div
        class="alert alert-danger"
        *ngIf="startTimeInput.invalid && startTimeInput.touched"
      >
        Please enter the startTime.
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Ending time</label
        >
        <input
          type="datetime-local"
          id="meeting-time"
          required
          ngModel
          #endTimeInput="ngModel"
          name="endTime"
          class="form-control"
          value="yyyy-mm-ddTh:min"
        />

        <div
          class="alert alert-danger"
          *ngIf="endTimeInput.invalid && endTimeInput.touched"
        >
          Please enter the endTime.
        </div>
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Description</label
        >
        <textarea
          class="form-control"
          ngModel
          #descriptionInput="ngModel"
          name="description"
          rows="2"
          placeholder="session description"
        ></textarea>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Speaker</label>

        <div>
          <select
            class="form-control"
            required
            ngModel
            #speakerInput="ngModel"
            name="speaker"
            [(ngModel)]="selectedOption"
            [ngModelOptions]="{ standalone: true }"
          >
            <option *ngFor="let option of speakers" [value]="option.id">
              {{ option.firstName }} {{ option.lastName }}
            </option>
          </select>

          <div
            class="alert alert-danger"
            *ngIf="speakerInput.invalid && speakerInput.touched"
          >
            Please add a speaker first - Head to Speakers Page.
          </div>
        </div>
      </div>
        <div class="mb-3">
           <button
              [disabled]="createSessionForm.invalid"
              (click)="addSession(createSessionForm)"
              type="submit"
              class="btn btn-primary toggle2"
            >
              Add Session
            </button>
        </div>
    </form>
  </div>
</div>

<main class="content">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <h1 class="h3 d-inline align-middle">Schedule</h1>
        </div>
      </div>
      <div class="col"></div>
    </div>

    <div class="row">
      <div class="card flex-fill">
        <div class="card-header">
          <div class="row justify-content-between">
            <div class="col-10">
              <h5 class="card-title mb-0">Schedule</h5>
            </div>
            <div class="col-2">
              <button
                class="toggle btn btn-primary"
                [ngClass]="{ active: isToggleActive }"
                (click)="isOpened = true;"
              >
                <i class="fa fa-plus-circle" aria-hidden="true" ></i> Add session
              </button>
            </div>
          </div>
        </div>
        <table class="table table-hover my-0">
          <thead>
            <tr>
              <th>Title</th>
              <th>Activity</th>
              <th class="d-none d-xl-table-cell">startTime</th>
              <th class="d-none d-xl-table-cell">endTime</th>
              <th class="d-none d-xl-table-cell">description</th>
              <th class="d-none d-xl-table-cell">Speaker</th>
              <th class="d-none d-sm-table-cell">Edit</th>
              <th class="d-none d-sm-table-cell">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let session of sessions; let i = index">
              <td class="editable" [attr.contenteditable]="editingIndex === i">
                {{ session.title }}
              </td>
              <td class="editable" [attr.contenteditable]="editingIndex === i">
                {{ session.activity }}
              </td>
              <td class="editable" [attr.contenteditable]="editingIndex === i">
                {{ session.startTime }}
              </td>
              <td class="editable" [attr.contenteditable]="editingIndex === i">
                {{ session.endTime }}
              </td>
              <td class="editable" [attr.contenteditable]="editingIndex === i">
                {{ session.description }}
              </td>

              <td class="editable">
                <select
                  class="form-control"
                  [attr.contenteditable]="editingIndex === i"
                >
                  <option>Male</option>
                  <option>Female</option>
                  <option>Other</option>
                </select>
              </td>
              <td>
                <button
                  class="btn btn-primary btn-sm"
                  *ngIf="editingIndex !== i"
                  (click)="editingIndex = i"
                >
                  Edit
                </button>
                <button
                  class="btn btn-success btn-sm"
                  *ngIf="editingIndex === i"
                  (click)="editingIndex = -1; save(i)"
                >
                  Save
                </button>
              </td>
              <td><i class="fa fa-trash" aria-hidden="true"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
