


    <div class="card-header">
        <div class="mb-3">
            <h1 class="card-title mb-0">   
                Start creating your event
            </h1>
        </div>
        <div class="mb-3">
            <h5>
                Start from scratch or choose a template to set up your event faster.
  
            </h5>
        </div>
      
    </div>



    <div class="card-body">
  
        <div class="container">



<div class="row">
    <div class="col-sm-6">
        <form [formGroup]="updateSpeakerForm">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Name </label>
                <input type="text" 
                formControlName="title"
                name="title"
                 class="form-control" 
                
                placeholder="Event name">
                <div  class="alert alert-danger" *ngIf="updateSpeakerForm.controls['title'].invalid && updateSpeakerForm.controls['title'].touched">
                    Please enter an event name.
                    </div>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput2" class="form-label">Starts at
                </label>
                <input type="datetime-local"
                
                
                formControlName="dateStart"
                
                id="start"
                    class="form-control" value="yyyy-mm-ddTh:min">


                    <div  class="alert alert-danger" *ngIf="updateSpeakerForm.controls['dateStart'].invalid && updateSpeakerForm.controls['dateStart'].touched">
                        Please enter  the start date.
                        </div>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput3" class="form-label">Ends at</label>
                <input  formControlName="dateEnd" type="datetime-local" id="end" 
                    class="form-control" value="yyyy-mm-ddTh:min">

                    <div  class="alert alert-danger" *ngIf="updateSpeakerForm.controls['dateEnd'].invalid && updateSpeakerForm.controls['dateEnd'].touched">
                        Please enter  the end date.
                        </div>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput4" class="form-label">Description</label>
                <textarea required formControlName="description" id= "description" class="form-control" rows="2"
                    placeholder="Event description"></textarea>

                    <div  class="alert alert-danger" *ngIf="updateSpeakerForm.controls['description'].invalid && updateSpeakerForm.controls['description'].touched">
                        Please enter the description.
                        </div>
            </div>
        </form>
    </div>
    <div class="imageCont col-sm-6">
    </div>
</div>

<div class="d-flex flex-row-reverse py-3">


    <div class=" col-1 mx-3 ">
    
        <button
        [disabled]="updateSpeakerForm.invalid"
        (click)="onButtonClick()"
        type="submit"
        class="btn btn-primary"
        >
        continue
        </button>
        </div>
    <div class="col-1 mx-3">
        <button
        (click)="previous()"
        type="submit"
        class="btn btn-primary"
        >
        Previous 
        </button>
    
    
    </div>
   
    

</div>


</div>
</div>