.imageCont {
    background-image: url('/assets/images/backgroundImage.png');
    background-position: bottom 30px right 30px;
        background-size:contain ;
    background-repeat: no-repeat;
    background-size: 500px;
  
  
  }