.imageCont {
    background-image: url('/assets/images/backgroundImage.png');
    background-position:  right 30px;
        background-size:cover ;
    background-repeat: no-repeat;
    background-size: 500px;
  
  
  }
