


<div class="wrapper">
    <div class="main">
  <app-admin-navbar></app-admin-navbar>


  <main class="content">
    <div class="container-fluid p-0">
<div class="container">

    <div class="mb-5">
    <div class="col-4 align-items-start ">
        <div class="input-group rounded">
            <input [(ngModel)]="searchTerm"  placeholder="Search..."  class="form-control">
            <span class="input-group-text border-0" id="search-addon">
                <i class="fa fa-search" aria-hidden="true"></i>                                    </span>
          </div>
         </div>
        </div>
     <!-- <div class="row" *ngFor="let event of events">  -->
        <div class="row" >

 <div  class="col-md-4" *ngFor="let event of events | filter:'title':searchTerm| paginate: { itemsPerPage: 9, currentPage: p }">
      <div class="card baseBlock">
        <div class="container mt-3" [style.background-image]="'url(' + event.image + ')'">
        </div>
        <div class="card-body">
       <h4 class="card-title">{{event.title}}</h4>
       <p class="card-text">{{event.description}}</p>
       <button class="btn btn-primary"(click)="goTo(event.id)">Visit Event</button>
     </div>

 
       
       
      </div> 
    </div>

    

</div>

<div class="my-3 ">
    <pagination-controls (pageChange)=" p= $event"></pagination-controls>

  </div> 


</div>
</div>
</main>


    </div>
  </div>